<ion-list>
  <ion-item>
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label>Iluminación</ion-label>
  </ion-item>
  <ion-item>
      <ion-checkbox color="primary"></ion-checkbox>
      <ion-label>Temperatura</ion-label>
  </ion-item>
  <ion-item>
      <ion-checkbox color="primary"></ion-checkbox>
      <ion-label>Ruido</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label>Vibración</ion-label>
    </ion-item>
</ion-list>

<p>Fecha</p>

<ion-item>
  <ion-label>Inicio</ion-label>
  <ion-datetime value="2019-05-06" min="2010-01" max="2019"
    displayFormat="DD MMM, YYYY"
    monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label>Final</ion-label>
  <ion-datetime value="2019-05-06" min="2010-01" max="2019"
    displayFormat="DD MMM, YYYY"
    monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"></ion-datetime>
</ion-item>

<ion-button class="aplicar" expand="full" color="secondary">Aplicar</ion-button>