.filters
{
    size: small;
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
}

.aplicar
{
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
    padding: 13px;
    height: 60px;
}

ion-checkbox
{
    margin-right: 8px;
}

p
{
    margin-left: 13px;
    font-weight: bold;
}