<p>Variable</p>
<ion-button>Iluminación</ion-button>
<ion-button>Temperatura</ion-button>
<ion-button>Ruido</ion-button>
<ion-button>Vibración</ion-button>

<p>Fecha</p>

<ion-item>
  <ion-label>Inicio</ion-label>
  <ion-datetime value="2019-05-06" min="2010-01" max="2019"
    displayFormat="DD MMM, YYYY"
    monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label>Final</ion-label>
  <ion-datetime value="2019-05-06" min="2010-01" max="2019"
    displayFormat="DD MMM, YYYY"
    monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"></ion-datetime>
</ion-item>

<ion-button>Aplicar</ion-button>