.filters
{
    size: small;
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
}

.aplicar
{
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
}

ion-checkbox
{
    margin-right: 8px;
}
