<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <!-- <ion-icon slot="icon-only" name="settings"></ion-icon> -->
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
<p class="page-header">Dispostivo 1</p>
<p class="update-time">Última actualización hace 34 segundos</p>

<!-- Segment buttons with the first checked and the last disabled -->
<ion-segment>
  <ion-segment-button checked>
    <ion-label>Temperatura</ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>Iluminación</ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>Ruido</ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label>Vibración</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-card>
  <ion-card-content>
    <p class="graph-title">Temperatura (lms)</p>
  </ion-card-content>
</ion-card>

</ion-content>
