<ion-content padding color="light" style="justify-content: center;"> 

  <div id="logo" text-center>
    <img class= "company-logo" src="./assets/logo-cetys.png">
  </div>

  <ion-list class="ion-padding" style="margin-bottom: 20px;" lines="none">
    <ion-item>
      <ion-icon name="person" style="margin-right: 2px"></ion-icon>
      <ion-input placeholder="Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" style="margin-right: 2px"></ion-icon>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="dark" expand="block" (click)="enter()">Iniciar</ion-button>

</ion-content>
<div class="the-footer">Olvido su contraseña?</div>