<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <p class="filtro-button" (click)="presentPopover($event)">Filtros</p>
      </ion-button>
    </ion-buttons>
      <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="page-header">Dispostivo 1</p>
  <p class="update-time">6 de mayo 2019</p>
  
  <div *ngIf="ilumShow">
      <ion-card style="background-color:#ffffff;">
        <ion-card-content>
          <p class="graph-title">Iluminación</p>
        </ion-card-content>
        <ion-card-content>
          <canvas id="linechartIlum"></canvas>
        </ion-card-content>
      </ion-card>
    </div>
    
  <div *ngIf="tempShow">
      <ion-card style="background-color:#ffffff;">
        <ion-card-content>
          <p class="graph-title">Temperatura</p>
        </ion-card-content>
        <ion-card-content>
          
            <canvas id="linechartTemp"></canvas>
            
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="ruidoShow">
      <ion-card style="background-color:#ffffff;">
        <ion-card-content>
          <p class="graph-title">Ruido</p>
        </ion-card-content>
        <ion-card-content>
          <canvas id="linechartRuido"></canvas>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="vibShow">
      <ion-card style="background-color:#ffffff;">
        <ion-card-content>
          <p class="graph-title">Vibracion</p>
        </ion-card-content>
        <ion-card-content>
          <canvas id="linechartVib"></canvas>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
