
ion-toolbar-color
{
  color: yellow;
}

.toolbar-icon
{
  width: 30%;
  height: auto;

}

.variable-titulo
{
  font-size: 10pt;
  font-style: bold;
  color: black;
}

img
{
  height: 20px;
  width: 20px;
}

.variable-valor
{
  font-size: 8pt;
  color: gray;
}

.div-icono
{
  width:20%;
  float: left;
}

.div-variable
{
  width: 80%;
  float: left;
}

ion-card
{
  padding:0px;
}

.card-title
{
  font-size: 10pt;
}

ion-grid
{
  margin: 0px;
  padding: 0px;
