<ion-header>
  <ion-toolbar>
    <ion-title>Resumen</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="toolbar-icon" name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <ion-card-header>
        <p class="card-title">Dispositivo 1</p>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="div-icono"><img class="variable-icono" src="https://image.flaticon.com/icons/png/512/53/53565.png"></div>
              <div class="div-variable"><p class="variable-titulo">Iluminación</p>
              <ion-progress-bar value="0.3"></ion-progress-bar>
              <p class="variable-valor">500 lms</p></div>
            </ion-col>
            <ion-col>
              <div class="div-icono"><img src="https://image.flaticon.com/icons/png/512/53/53565.png"></div>
              <div class="div-variable"><p class="variable-titulo">Temperatura</p>
              <ion-progress-bar value="0.3"></ion-progress-bar>
              <p class="variable-valor">34 C</p></div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="div-icono"><img src="https://image.flaticon.com/icons/png/512/53/53565.png"></div>
              <div class="div-variable"><p class="variable-titulo">Ruido</p>
              <ion-progress-bar value="0.3"></ion-progress-bar>
              <p class="variable-valor">30 dBA</p></div>
            </ion-col>
            <ion-col>
              <div class="div-icono"><img src="https://image.flaticon.com/icons/png/512/53/53565.png"></div>
              <div class="div-variable"><p class="variable-titulo">Vibración</p>
              <ion-progress-bar value="0.3"></ion-progress-bar>
              <p class="variable-valor">58 Hz</p></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
