.toolbar-icon
{
  width: 30%;
  height: auto;

}

.variable-titulo
{
  font-size: 10pt;
  font-style: bold;
  color: black;
}

ion-progress-bar
{
  height: 8px;
  border-radius: 11px;
}

ion-button{
  --clear-light:none;
  width:70%;
  margin: auto;
}

img
{
  height: 20px;
  width: 20px;
}

.variable-valor
{
  font-size: 8pt;
  color: gray;
}

.div-icono
{
  width:20%;
  float: left;
}

.div-variable
{
  width: 80%;
  float: left;
}

ion-card
{
  padding:0px;
}

.card-title
{
  font-size: 10pt;
}

ion-grid
{
  margin: 0px;
  padding: 0px;
}

ion-card
{
  box-shadow: 3px 3px 10px #D8D8D8;
}

.buttons{
  padding-left: 25%;
}
ion-button{
  padding-top: 3%;
}