<ion-header >
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="log-out"></ion-icon>
        <!-- <ion-icon src="/assets/logout.svg"></ion-icon> -->
      </ion-button>
    </ion-buttons>
      <ion-title>Resumen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header>
      <p class="card-title">Dispositivo 1</p>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="div-icono"><img src="/assets/iluminacion.svg"></div>
            <div class="div-variable">
              <p class="variable-titulo">Iluminación</p>
              <ion-progress-bar color="success" value="0.3"></ion-progress-bar>
              <p class="variable-valor">500 lms</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="div-icono"><img src="/assets/temperatura.svg"></div>
            <div class="div-variable">
              <p class="variable-titulo">Temperatura</p>
              <ion-progress-bar color="danger" value="0.7"></ion-progress-bar>
              <p class="variable-valor">35 C</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="div-icono"><img class="variable-icono" src="/assets/ruido.svg"></div>
            <div class="div-variable">
              <p class="variable-titulo">Ruido</p>
              <ion-progress-bar color="warning" value="0.5"></ion-progress-bar>
              <p class="variable-valor">210 dBA</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="div-icono"><img src="/assets/vibracion.svg"></div>
            <div class="div-variable">
              <p class="variable-titulo">Vibración</p>
              <ion-progress-bar color="success" value="0.6"></ion-progress-bar>
              <p class="variable-valor">30 Hz</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row><ion-button color="light" clear (click)="pushpage()" > ver detalles</ion-button></ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="buttons">
  <ion-button color="warning" (click)="getAllTasks()">Get All Tasks</ion-button>
  <ion-button  color="warning"(click)="getTask()">Get Task</ion-button>
</div>


</ion-content>
