.variable-titulo
{
  font-size: 10pt;
  font-style: bold;
  color: black;
}

ion-progress-bar
{
  height: 8px;
  border-radius: 11px;
  
}

ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
}

img
{
  height: 20px;
  width: 20px;
}

.variable-valor
{
  font-size: 8pt;
  color: gray;
}

.div-icono
{
  width:20%;
  float: left;
}

.div-variable
{
  width: 80%;
  float: left;
}

ion-card
{
  padding:0px;
}

.card-title
{
  font-size: 10pt;
  margin-bottom: -8px;
  margin-top: 0;
}

ion-grid
{
  margin: 0px;
  padding: 0px;
}

ion-card
{
  box-shadow: 0px 0px 3px #D8D8D8;
  background-color: white;
}

.buttons{
  padding-left: 25%;
}

ion-header
{
  box-shadow: 0px 2px 8px #D8D8D8;
}

ion-title
{
  font-weight: 400;
}
.progress #progress-indeterminate{

background: red !important;
}